* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  list-style-type: none;
}

.hero-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.content-border {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.first-section {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  height: 450px;
  justify-content: center;
}

.image-placeholder {
  background-color: gray;
  width: 50%;
  flex-shrink: 0;
}
